<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>370231359122-bkeuh3to5g0b6fp0v8i7sbbu7mdgrfbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370231359122-bkeuh3to5g0b6fp0v8i7sbbu7mdgrfbs</string>
	<key>API_KEY</key>
	<string>AIzaSyAYJVl6NjJzZHOe_VDMFDHe2ClbPNm8CyM</string>
	<key>GCM_SENDER_ID</key>
	<string>370231359122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyApp.roundMedia</string>
	<key>PROJECT_ID</key>
	<string>round-media</string>
	<key>STORAGE_BUCKET</key>
	<string>round-media.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:370231359122:ios:3fe1c10e2ec06ba1</string>
	<key>DATABASE_URL</key>
	<string>https://round-media.firebaseio.com</string>
</dict>
</plist>
